# source relative to ./live | destination relative to $HOME
  foot                        .config/foot
  godot                       .config/godot
  hypr                        .config/hypr
  kitty.conf                  .config/kitty/kitty.conf
  mako                        .config/mako/config
  mpvpaper                    .config/mpvpaper
  mpd.conf                    .config/mpd/mpd.conf
  nvim                        .config/nvim
  rofi                        .config/rofi
  waybar                      .config/waybar
  wpaperd                     .config/wpaperd

  code                        .local/bin/code
  godot_code                  .local/bin/godot_code

  bashrc                      .bashrc
  wallpapers                  wallpapers
  gitconfig                   .gitconfig
